@{

    ViewData["Title"] = "Product";
    Product product = ViewBag.product;
    string price = String.Format("S${0:0.00}", product.Price);

}

<div class="text-center">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <tbody>
                        <tr>
                            <td class="w-15">
                                <img id="@product.ImageName" class="my_img" src="~/Images/@product.ImageName" />
                            </td>
                            <td class="w-15">
                                <h2>@product.ProductName </h2>
                                <p>@product.Description </p>
                                <p><b>@price</b></p>
                                <p>
                                    <button type="button" class="btn btn-primary">Add to Cart</button>
                                </p>
                            </td>
                        </tr>
                        
                         <tr>
                            <td class="rating_col">
                                <img id="@product.ImageName" class="rating_img" src="~/Images/starYellow.png" />
                           
                                <img id="@product.ImageName" class="rating_img" src="~/Images/starYellow.png" />
                          
                                <img id="@product.ImageName" class="rating_img" src="~/Images/starYellow.png" />
                            
                                <img id="@product.ImageName" class="rating_img" src="~/Images/starYellow.png" />
                           
                                <img id="@product.ImageName" class="rating_img" src="~/Images/starWhite.png" />
                            </td>
                             <td>
                                 </td>
                        </tr>
                       

                    </tbody>
                </table>
            </div>
        </div>
        <hr>
       
        <h3>Product Reviews</h3>
     </div>

</div>

<!--<div class="container">
    <div class="col-12">
        <div class="card">
            <img src="~/Images/@product.ImageName" class="col-6 text-left p-0" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.ProductName</h5>
                <p class="card-text">@product.Description</p>-->
                @*action to change to cartcontroller/addcart*@
                <!--<form action="" method="post">
                    <button class="btn btn-outline-primary"><b>$@product.Price.ToString("0.00")</b>&nbsp;&nbsp;Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>-->